.translate-options-container{
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
gap: 32px;
height: 56px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.translate-options-container div{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 22px;
gap: 10px;
background: #F1F3F5;
border: 1px solid #278B81;
border-radius: 12px;
flex: none;
order: 1;
flex-grow: 0;
cursor: pointer;
}