  <div class="login-card">
    <h1 class="titile">! مرحبا بعودتك </h1>
    <form class="login-form" (ngSubmit)="login()">
      <label for="email">* البريد الإلكتروني</label>
      <input type="email" id="email" placeholder="Example@gmail.com"  required [(ngModel)]="email" name="email">
      
      <label for="password">* كلمة المرور</label>
      <input type="password" id="password" placeholder="ادخل كلمة مرور" required [(ngModel)]="password" name="password">
      
      <button type="submit" class="login-btn">تسجيل الدخول</button>
    </form>

    <mat-card class="card-cont">
      <div class="button-wrapper">
        <div id="buttonDiv"></div>
      </div>
    </mat-card>

    <div class="signup-prompt">
      <span  class="signup-link" [routerLink]="'/register'">تسجيل صديق جديد</span>
      انضم لعائلة لينقو الآن 
    </div>
  </div>
  <img [src]="'zah.png'" class="up-left">
  <img [src]="'zah.png'" class="down-right">
